@import '~diagrammer/styles/mixins';

#diagrammerLogger {
  @include dm-container-shadow;
  color: var(--diagrammer-text-color);
  width: 50%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 25%;
  background-color: var(--diagrammer-container-background-color);
  padding: 20px;
}
